<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>651309006738-4uknslruspge2doon5qtg456f7ig8jg9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.651309006738-4uknslruspge2doon5qtg456f7ig8jg9</string>
	<key>API_KEY</key>
	<string>AIzaSyCeztaAVET2K1rm3xnp9lSOdicyHJ98Kw0</string>
	<key>GCM_SENDER_ID</key>
	<string>651309006738</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>si.jerlah.mycombi</string>
	<key>PROJECT_ID</key>
	<string>mojkombi-3dfa5</string>
	<key>STORAGE_BUCKET</key>
	<string>mojkombi-3dfa5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:651309006738:ios:baee088216d0a8e335cb4b</string>
</dict>
</plist>